@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 9 9 11;
}

html, body, #__next {
  height: 100%;
}

body {
  color: rgb(var(--fg));
  background: rgb(var(--bg));
}

.container {
  @apply mx-auto px-4;
}

.card {
  @apply bg-white rounded-xl shadow-sm border border-gray-200;
}

.dark .card {
  @apply bg-zinc-900 border-zinc-800;
}
